<html ng-app="myapp">
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
	<title>
	</title>
	<base href="/">
</head>
<body>
	<a href="" ui-sref="login">Login</a>
	<ui-view></ui-view>

	<script type="text/javascript" src="app.js"></script>
</body>	
</html>